@font-face {
	font-family: 'Pokemon Classic Regular';
	src: url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.eot');
	src: url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.eot?#iefix') format('embedded-opentype'),
		url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.woff2') format('woff2'),
		url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.woff') format('woff'),
		url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.ttf') format('truetype'),
		url('https://db.onlinewebfonts.com/t/900f8add35323c44ee840c611ed9a7a5.svg#Pokemon Classic Regular') format('svg');
}

.main-grid {
	font-family: 'Pokemon Classic Regular';
	background-color: grey;
	display: grid;
	grid-template-columns: [screen-left-edge] 1fr [menu-left-edge] 80vmin [menu-right-edge] 1fr [screen-right-edge];
	grid-template-rows: [screen-top-edge] 80vmin [menu-divider] 20vmin [screen-bottom-edge];
}

.selectable {
	position: relative;
	display: grid;
}

.selectable > * {
	grid-area: 1 / 1 / 2 / 2;
}

.winky {
	position: absolute;
	top: 5%;
	height: 70%;
	left: 77%;
	cursor: pointer;
}

.fun-label {
	cursor: pointer;
	width: 100%;
}

.fun-selector {
	display: none;
}

.hover-trigger:hover + .fun-selector {
	display: block;
	position: absolute;
	height: 40%;
	top: 30%;
	left: 5%;
}

.resume-label {
	cursor: pointer;
	width: 100%;
}

.resume-selector {
	display: none;
}

.resume-label:hover + .resume-selector {
	display: block;
	position: absolute;
	height: 40%;
	top: 30%;
	left: 5%;
}

.projects-label {
	cursor: pointer;
	width: 100%;
}

.projects-selector {
	display: none;
}

.projects-label:hover + .projects-selector {
	display: block;
	position: absolute;
	height: 40%;
	top: 30%;
	left: 5%;
}

.about-label {
	cursor: pointer;
	width: 100%;
}

.about-selector {
	display: none;
}

.about-label:hover + .about-selector {
	display: block;
	position: absolute;
	height: 40%;
	top: 30%;
	left: 5%;
}

.contact-label {
	cursor: pointer;
	width: 100%;
}

.contact-selector {
	display: none;
}

.contact-label:hover + .contact-selector {
	display: block;
	position: absolute;
	height: 40%;
	top: 30%;
	left: 5%;
}

.non-selectable-image {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.top-display-border {
	grid-column-start: menu-left-edge;
	grid-row-start: screen-top-edge;
	width: 100%;
}

.top-display-grid {
	width: 100%;
	height: 100%;
	z-index: 2;
	display: grid;
	grid-template-columns: [container-left-edge] 18.28% [display-left-edge] 62.81% [display-right-edge] 18.91% [container-right-edge];
	grid-template-rows: [container-top-edge] 14.18% [display-top-edge] 57.09% [display-bottom-edge] 28.73% [container-bottom-edge];
}

.top-display {
	grid-column-start: display-left-edge;
	grid-row-start: display-top-edge;
	background-color: white;
	height: 100%;
	position: relative;
}

.menu-border {
	position: absolute;
	height: 100%;
	width: 100%;
}

.menu-grid {
	display: grid;
	align-content: center;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	font-size: x-large;
	padding: 5% 5% 5% 5%;
	width: 90%;
	height: 90%;
	margin: 0;
	list-style: none;
}

.main-menu-button-wrapper {
	position: relative;
}

.main-menu-button {
	font-family: 'Pokemon Classic Regular';
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-width: 0;
	text-align: left;
	cursor: pointer;
	text-indent: 15%;
	font-size: x-large;
}

.selector {
	position: absolute;
	height: 40%;
	left: 15px;
	top: 30%;
}
